interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-API-KEY:
      - reticulatingsplines
    method: GET
    uri: https://octane.mvillage.um.city/api/railcrossing/1
  response:
    body:
      string: '{"railcrossing":{"audible":true,"beacon":"flashing","gate":true,"id":1,"instrument":"gated","latitude":42.2972840,"longitude":-83.7025330,"name":"Monorail","phases":"preflash,
        closing, closed, opening, postflash, open","state":{"activated":true,"audible":true,"beacon":true,"gate":true,"manualCall":true,"phase":"closed","updated":"2022-11-29T20:56:11+00:00"},"uri":"https://mcity.um.city/api/railcrossing/1","url":null}}

        '
    headers:
      Content-Type:
      - application/json
      X-Content-Security-Policy:
      - 'default-src ''self'' ''unsafe-inline'' *.um.city; font-src ''self'' fonts.googleapis.com
        fonts.gstatic.com; style-src ''self'' ''unsafe-inline'' fonts.googleapis.com
        fonts.gstatic.com static.um.city cdnjs.cloudflare.com; script-src ''self''
        ''unsafe-inline'' code.jquery.com cdnjs.cloudflare.com static.um.city; img-src
        ''self'' data: static.um.city'
    status:
      code: 200
      message: OK
version: 1
