interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-API-KEY:
      - reticulatingsplines
    method: GET
    uri: https://octane.mvillage.um.city/api/intersection/1
  response:
    body:
      string: '{"intersection":{"id":1,"instrument":"signal","laneState":{"direction":null,"number":null,"phase":null,"vehTimeMax":null,"vehTimeMin":null},"lanes":[{"bound":"west","description":"westbound
        through","geometry":{"boundary":{"coordinates":[[0,0],[0,0],[0,0],[0,0]],"type":"polygon"},"stopBar":{"centroid":[-83.7024835,42.2977895],"coordinates":[[-83.7024830,42.2978090],[-83.7024840,42.2978090],[-83.7024830,42.2977700],[-83.7024840,42.2977700]],"type":"polygon"}},"heading":270,"movements":[{"direction":"THROUGH","id":4,"name":"westbound
        through","state":{}}],"number":4},{"bound":"east","description":"eastbound
        through","geometry":{"boundary":{"coordinates":[[0,0],[0,0],[0,0],[0,0]],"type":"polygon"},"stopBar":{"centroid":[-83.7025840,42.2977585],"coordinates":[[-83.7025950,42.2977770],[-83.7025730,42.2977770],[-83.7025950,42.2977400],[-83.7025730,42.2977400]],"type":"polygon"}},"heading":90,"movements":[{"direction":"THROUGH","id":3,"name":"eastbound
        through","state":{}}],"number":3},{"bound":"north","description":"northbound
        through","geometry":{"boundary":{"coordinates":[[0,0],[0,0],[0,0],[0,0]],"type":"polygon"},"stopBar":{"centroid":[-83.7024860,42.2976830],"coordinates":[[-83.7024860,42.2976830],[-83.7024860,42.2976970],[-83.7025270,42.2976830],[-83.7025270,42.2976970]],"type":"polygon"}},"heading":0,"movements":[{"direction":"THROUGH","id":2,"name":"northbound
        through","state":{}}],"number":2},{"bound":"south","description":"southbound
        through","geometry":{"boundary":{"coordinates":[[0,0],[0,0],[0,0],[0,0]],"type":"polygon"},"stopBar":{"centroid":[-83.7025720,42.2978150],"coordinates":[[-83.7025720,42.2978150],[-83.7025720,42.2978070],[-83.7025420,42.2978150],[-83.7025420,42.2978070]],"type":"polygon"}},"heading":180,"movements":[{"direction":"THROUGH","id":1,"name":"southbound
        through","state":{}}],"number":1}],"latitude":42.2977590,"longitude":-83.7025300,"name":"Office
        Light","state":{"callPedestrian":"00000000","callVehicle":"00000000","enabled":true,"flash":false,"forceOff":"00000000","hold":"00000000","omit":"00000000","pedestrianClear":"00000000","phases":[{"callPedestrian":false,"callVehicle":false,"color":"RED","flash":false,"forceOff":false,"hold":false,"omit":false,"omitPedestrian":false,"overlap":{"flash":false,"green":false,"red":true,"yellow":false},"overlapMax":0.0,"overlapMin":0.0,"pedTimeMax":0.0,"pedTimeMin":0.0,"pedestrianClear":false,"phase":1,"vehTimeMax":0.0,"vehTimeMin":0.0,"walk":false,"walkDont":true},{"callPedestrian":false,"callVehicle":false,"color":"GREEN","flash":false,"forceOff":false,"hold":false,"omit":false,"omitPedestrian":false,"overlap":{"flash":false,"green":false,"red":true,"yellow":false},"overlapMax":0.0,"overlapMin":0.0,"pedTimeMax":0.0,"pedTimeMin":0.0,"pedestrianClear":false,"phase":2,"vehTimeMax":0.0,"vehTimeMin":0.0,"walk":false,"walkDont":true},{"callPedestrian":false,"callVehicle":false,"color":"RED","flash":false,"forceOff":false,"hold":false,"omit":false,"omitPe[...]
