interactions:
- request:
    body: '{"state": {"manualCall": true, "manualCallTimeOverride": 10}}'
    headers:
      Content-Type:
      - application/json
      X-API-KEY:
      - reticulatingsplines
    method: PATCH
    uri: https://octane.mvillage.um.city/api/railcrossing/1
  response:
    body:
      string: '{"requestID":"5d83be2e-a520-487b-8d79-3b47a0f693f5"}

        '
    headers:
      Content-Type:
      - application/json
      X-Content-Security-Policy:
      - 'default-src ''self'' ''unsafe-inline'' *.um.city; font-src ''self'' fonts.googleapis.com
        fonts.gstatic.com; style-src ''self'' ''unsafe-inline'' fonts.googleapis.com
        fonts.gstatic.com static.um.city cdnjs.cloudflare.com; script-src ''self''
        ''unsafe-inline'' code.jquery.com cdnjs.cloudflare.com static.um.city; img-src
        ''self'' data: static.um.city'
    status:
      code: 200
      message: OK
version: 1
